---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;


.hero-logo{
	vertical-align: middle;
    margin-top: 100px;
}

body {
  margin: 0
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.staff {
	display: flex;
  // margin-left: 15%;
  // margin-right: 15%;
  padding: 0;
  list-style: none;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  text-align: center; }
  .staff li {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%; }
    @media (min-width: 450px) {
      .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%; } }
    @media (min-width: 768px) {
      .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 33%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
        flex: 1 1 33%; } }
  .staff .name {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    // font-family: 'Share Tech Mono', monospace;
    color: #8b0e3a; }
  .staff .name a {
    color: #8b0e3a; }
  .staff .position {
    color: #666;
    font-size: .8em; }

    .square-image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: transform .5s ease; }

  .staff-name {
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-bottom: 5px;

  }

  /* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 1200px) {
.margin-1200 {

    margin-right: 32%;
    margin-left: 0%;

}
}

// @media (min-width: 1200px)
// .col-md-offset-2 {
//   margin-left: 16.66666667%;
// }

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #a174e0, #23d5ab);
    background-size: 1000% 1000%;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.col1 {
  float: left;
  width: 50%;
  padding: 50px;
}

.col2 {
  float: left;
  width: 33%;
  padding: 50px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col1 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .col2 {
    width: 100%;
  }
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.well-educators-mobile {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

@media screen and (max-width: 600px) {
    .well-educators-mobile{
        font-size:20px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;

    }
}

body{
    overflow-x: hidden;
}