<section class="bg-yellow" id="about">

    <div class="container">
        <div class="row1">
                <!-- <h2 class="section-heading">Why We Exist</h2> -->
                <!-- <hr class="light"> -->
                <div class ="col1 text-center wow fadeInUp">
                	<img src="img/icons/mission.png" class="img-responsive text-left" alt="" style="width: 75px; height: 75px; margin-bottom: 25px">
                	<h2 class="text-left font-weight-bold">Mission</h2>
                	<hr class="light" align="left">
                	<p class="text-faded wow fadeIn text-left" data-wow-delay=".1s">The Colour Factor is a non-profit organization aimed at decolonizing wellness and creating brave spaces of healing for the BIPOC (Black, Indigenous, People of Colour) community, through conversation, collaboration and creativity. </p>
                <!-- <div>
                <img src="img/hearts.png" class="img-responsive" alt="" >
                </div> -->
                	<div style="margin-bottom: 50px"> </div>
            </div>
				
				<div class ="col1 text-center wow fadeInUp ">
					<img src="img/icons/vision.png" class="img-responsive" alt="" style="width: 75px; height: 75px; margin-bottom: 25px">
					<h2 class="section-heading-2 text-left font-weight-bold">Vision</h2>
			
					<hr class="light" align="left">
                	<p class="text-faded wow fadeIn text-left text-left" data-wow-delay=".1s">Decolonize wellness for an inclusive and restored society.</p>
                </div>
      		</div>


<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
</section>
