<section class="bg-purple" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What the Community is Saying</h2>
                <!-- <hr class="light"> -->
                <div class="container">
  <div class="row">
<!--     <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Responsive Quote Carousel BS3</h2>
    </div> -->
  </div>
  <div class='row wow fadeIn'>
    <div class='col-md-offset-2 col-md-8 margin-1200'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol> -->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <div>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                </div>
                <div class="col-sm-9" style="width: 100%;">
                  <p style="color: black; font-size: 25px">"Thank you for hosting the Colours of Crisis event! For once, I felt happy discussing BIPOC issues. Usually it's an emotionally draining conversation for me. I really enjoyed your approach. Thank you!"</p>
                  <small style="color: black">Sarah T. <br> Attendee, The Colours of Crisis</small>
                </div>
              </div>
            </div>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <div>
              <div class="row">
                <div class="col-sm-3 text-center">
                </div>
                <div class="col-sm-9" style="width: 100%;">
                  <p style="color: black; font-size: 25px">"I loved absolutely everything about this night! Thank you!"</p>
                  <small style="color: black">Keshia H. <br> Attendee, Heartwork YYC</small>
                </div>
              </div>
            </div>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <div>
              <div class="row">
                <div class="col-sm-3 text-center">
                </div>
                <div class="col-sm-9" style="width: 100%;">
                  <p style="color: black; font-size: 25px">"I've attended several wellness events in the community before, but nothing like yours! I really appreciated your unique format. I felt very welcomed, validated and heard."</p>
                  <small style="color: black">Tracy W. <br> Executive Director, AB Printmakers</small>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div>
              <div class="row">
                <div class="col-sm-3 text-center">
                </div>
                <div class="col-sm-9" style="width: 100%;">
                  <p style="color: black; font-size: 25px">This was such a beautiful experience, I would love to see more events like these offered in the community. Great work, thanks for the opportunity!</p>
                  <small style="color: black">Sheetal T.<br> Volunteer, Heart Work YYC</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left" style="color: white;
    padding-right: 100px"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right" style="color: white;
    padding-left: 100px"></i></a>
      </div>                          
    </div>
  </div>
</div>
      		</div>


<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
    </div>
</section>
