
<header>
	<div id="particles-js"></div>
    <div  class="header-content">
        <div class="header-content-inner">
        	<img class="hero-logo wow fadeIn" src="img/logo.png" alt="logo" width="300" height="400" >

            <h2 style="margin-top: 50px">Inclusion is not an opportunity, it's a necessity!​</h2>
            <hr>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <a href="https://www.paypal.com/paypalme/wearecolourfactor" target="_blank" class="hvr-float btn btn-primary btn-xl page-scroll">Donate</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</header>
