<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter bg-green">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/heartwork1.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/heartwork2.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/heartwork3.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
