<section class="bg-yellow" id="about">

    <div class="container">
        <div class="row1">
                <!-- <h2 class="section-heading">Why We Exist</h2> -->
                <!-- <hr class="light"> -->
                <div id="counter" class ="col2 text-center wow fadeInUp">
                	<!-- <img src="img/icons/mission.png" class="img-responsive" alt="" style="width: 50px; height: 50px; display:inline; margin-bottom: 25px"> -->
                	<h2 class="section-heading-2">Years of Experience</h2>
               
                	<hr class="light">
                	<p  class="counter-value" data-count="15" style="font-size: 50px">0</p>

                <!-- <div>
                <img src="img/hearts.png" class="img-responsive" alt="" >
                </div> -->
                	<div style="margin-bottom: 50px"> </div>
            </div>
				
				<div id="counter" class ="col2 text-center wow fadeInUp">
					<!-- <img src="img/icons/vision.png" class="img-responsive" alt="" style="width: 50px; height: 50px; display:inline; margin-bottom: 25px"> -->
					<h2 class="section-heading-2">Number of Volunteers</h2>
			
					<hr class="light">
                   <p class="counter-value" data-count="25" style="font-size: 50px;">0</p>
                </div>

                <div id="counter" class ="col2 text-center wow fadeInUp">
                    <!-- <img src="img/icons/vision.png" class="img-responsive" alt="" style="width: 50px; height: 50px; display:inline; margin-bottom: 25px"> -->
                    <h2 class="section-heading-2">Connections <br> Made</h2>
            
                    <hr class="light">
                    <p class="counter-value" data-count="612" style="font-size: 50px">0</p>
                </div>
      		</div>


<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
</section>

<!-- <script type="text/javascript">
    setTimeout(function(){
    odometer1.innerHTML = 15;
}, 1000);
</script>

<script type="text/javascript">
    setTimeout(function(){
    odometer2.innerHTML = 1600;
}, 1000);
</script>

<script type="text/javascript">
    setTimeout(function(){
    odometer3.innerHTML = 612;
}, 1000);
</script>
 -->
<!-- <script type="text/javascript">
    
$(document).ready(function(){

$.fn.isInViewport = function() {
  var elementTop = $(this).offset().top;
  var elementBottom = elementTop + $(this).outerHeight();

  var viewportTop = $(window).scrollTop();
  var viewportBottom = viewportTop + $(window).height();

  return elementBottom > viewportTop && elementTop < viewportBottom;
};

$(window).on('resize scroll', function() {
  $('.odometer').each(function() {
    if ($(this).isInViewport()) {
        
      setTimeout(function(){
        $('.odometer').html(240000);
      }, 0);
    } else {
    }
  });
});
});

</script> -->

