<section class="bg-orange" id="team">
    <div class="container">
        <div class="row">
        	<div class="text-center">
                <h2 class="section-heading">Team</h2>
                <!-- <hr class="light"> -->
            </div>
            <ul class="staff">

            <li >
                    <div class="square-image wow fadeIn" data-wow-delay=".1s" style="margin-bottom: 25px; background-image: url(img/priscilla.PNG)">
                    </div>
                    <h2 class="staff-name"> Priscilla Cherry</h2>
                    <p style="color: black " > She/Her/Hers </p>
                    <p style="color: black ; font-size: 18px"> Co-Founder, BCMM Journalism, Peer Support </p>
                    <p style="color: black"> "There is no greater agony, than bearing an untold story inside you." -Maya Angelou </p>

            </li>

            <li >
                    <div class="square-image wow fadeIn" data-wow-delay=".1s" style="    margin-bottom: 25px; background-image: url(img/iftu.PNG) ">
                    </div>
                <h2 class="staff-name"> Iftu Hargaaya</h2>
                <p style="color: black"> She/Her/Hers </p>
                <p style="color: black ; font-size: 18px"> Co-Founder, B.A., BEd </p>
                <p style="color: black"> "Caring for myself is not self-indulgence, it is self-preservation, and that is an act of political warfare." -Audre Lorde </p>

   

            </li>

            <li >
                    <div class="square-image wow fadeIn" data-wow-delay=".1s" style=" margin-bottom: 25px; background-image: url(img/nitu.PNG)">
                    </div>
                <h2 class="staff-name" > Nitu Purna</h2>
                <p style="color: black"> She/Her/Hers </p>
                <p style="color: black ; font-size: 18px" > Co-Founder, SW Dip., M.A. RSW </p>
                <p style="color: black" > "The most dangerous stories we make up are the narratives that diminish our inherent worthiness. We must reclaim the truth about our lovability, divinity and creativity" -Brené Brown </p>

            </li>

        </ul>
        </div>
        </div>
    </div>
</section>