<section class="bg-green gradient">
    <div class="container">
        <div class="row">
            <div class="col text-center wow fadeInUp">
                <!-- <h2 class="section-heading" style="font-size: 50px">The 3 C's</h2> -->
                <!-- <hr class="light"> -->
                <!-- <h2 class="section-heading-2">Mission</h2>
                <hr class="light"> -->
                <p class="text-faded wow fadeIn well-educators-mobile" data-wow-delay=".1s">As Wellness Educators who've personally experienced living with mental health concerns, we noticed a gap in mental health services when it came to BIPOC representation. Through open and honest <strong> Conversation</strong>, strong and strategic <strong> Collaborations</strong> and restorative expression through <strong> Creativity</strong>, The Colour Factor decolonizes wellness, reclaims traditional healing practices and helps close the gap in the mental health care system.</p>
                <div style="margin-bottom: 50px"> </div>
      		</div>


<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
    </div>
</section>
