<section class="bg-green">
    <div class="container">
        <h2 class="section-heading text-center">What Matters Most</h2>
        <div class="row1">
                <div class="col2 text-left wow fadeInUp">
                <!-- <hr class="light"> -->
                <img src="img/icons/compassion.png" class="img-responsive" alt="" style="width: 75px; height: 75px; margin-bottom: 25px">
                <h2 class="section-heading-2 text-left">Compassion</h2>
                <hr class="light" align="left">
                <p class="text-faded text-left" data-wow-delay=".1s">Empathy in action! We're not afraid to lean into discomfort with our guests because we've been there before ourselves.</p>
            </div>

            <div class="col2 text-left wow fadeInUp">
                <!-- <hr class="light"> -->
                <img src="img/icons/individuality.png" class="img-responsive" alt="" style="width: 75px; height: 75px;  margin-bottom: 25px">
                <h2 class="section-heading-2 text-left">Individuality</h2>
                <hr class="light" align="left">
                <p class="text-faded text-left" data-wow-delay=".1s">Honouring and celebrating all of a person's intersectionalities, is critically important when working through trauma. We strive to make our guests feel included, valued and validated.</p>
            </div>

            <div class="col2 text-left wow fadeInUp">
                <!-- <hr class="light"> -->
                <img src="img/icons/truth.png" class="img-responsive" alt="" style="width: 75px; height: 75px;  margin-bottom: 25px">
                <h2 class="section-heading-2 text-left">Truth & Reconciliation</h2>
                <hr class="light" align="left">
                <p class="text-faded text-left" data-wow-delay=".1s">Revealing past wrongdoings in the hopes of resolving present conflict, to rebuild a better future.</p>
            </div>
			


<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
</section>
